services:
  backend:
    build: ./Backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    volumes:
      - backend-uploads:/app/static/uploads

  frontend:
    build: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  backend-uploads: