@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-dark: #0f172a;
    --card-dark: #1e293b;
    --input-dark: #334155;
    --primary-blue: #2563eb;
}

body {
    background-color: var(--bg-dark);
    color: white;
}